@{
    List<Category>? categories = ViewBag.categories;
    string error = ViewBag.error;
    bool showError = error != null && !error.Equals("");
}

<h1 class="mb-4">Category</h1>
@if (showError)
{
    <div class="alert alert-danger mb-3" role="alert">
        @error
    </div>
}

@if (categories == null || categories.Count <= 1)
{
    <p class="display-6">
        There are no categories
    </p>
    <span class="fs-6 text-secondary">Please add some categories</span>
}
else
{
    <table id="category_list" class="mb-5">
        <tr class="border-bottom border-black">
            <th>Id</th>
            <th>Name</th>
            <th>DisplayOrder</th>
        </tr>
        @foreach (var category in categories!)
        {
            <tr class="border-bottom" style="height: 4rem;">
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td class="d-flex align-items-center justify-content-end">
                    <a class="btn btn-outline-warning button-delete mx-3" asp-controller="Category" asp-action="Edit"
                        asp-route-id="@category.Id">Edit</a>
                    <a class="btn btn-outline-danger button-delete" asp-controller="Category" asp-action="Delete"
                        asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}